/* 颜色变量 */

/* 行为相关颜色 目前有五个主题色，每个主题色又分别有对应的light(淡色)、dark(深色)、disabled(禁止状态时的颜色)：*/
// 基础
$uni-type-primary: #2979ff;
$uni-type-primary-light: #ecf5ff;
$uni-type-primary-disabled: #a0cfff;
$uni-type-primary-dark: #2b85e4;
// 警告
$uni-type-warning: #ff9900;
$uni-type-warning-disabled: #fcbd71;
$uni-type-warning-dark: #f29100;
$uni-type-warning-light: #fdf6ec;
// 成功
$uni-type-success: #19be6b;
$uni-type-success-disabled: #71d5a1;
$uni-type-success-dark: #18b566;
$uni-type-success-light: #dbf1e1;
// 错误
$uni-type-error: #fa3534;
$uni-type-error-disabled: #fab6b6;
$uni-type-error-dark: #dd6161;
$uni-type-error-light: #fef0f0;
// 一般
$uni-type-info: #909399;
$uni-type-info-disabled: #c8c9cc;
$uni-type-info-dark: #82848a;
$uni-type-info-light: #f4f4f5;


/* 文字基本颜色 */
$uni-main-color: #303133;//主要文字
$uni-content-color: #606266;//常规文字
$uni-tips-color: #909399;//次要文字
$uni-light-color: #c0c4cc;//占位文字颜色

/* 背景颜色 */
$uni-bg-color: #f3f4f6;//背景色
$uni-bg-color-hover:#f1f1f1;//点击状态颜色
$uni-bg-color-mask:rgba(0, 0, 0, 0.4);//遮罩颜色

/* 边框颜色 */
$u-border-color: #e4e7ed;

/* 尺寸变量 */

/* 文字尺寸 */
$uni-font-size-sm:24rpx;
$uni-font-size-base:28rpx;
$uni-font-size-lg:32rpx;

/* 图片尺寸 */
$uni-img-size-sm:40rpx;
$uni-img-size-base:52rpx;
$uni-img-size-lg:80rpx;

/* Border Radius */
$uni-border-radius-sm: 4rpx;
$uni-border-radius-base: 6rpx;
$uni-border-radius-lg: 12rpx;
$uni-border-radius-circle: 50%;

/* 透明度 */
$uni-opacity-disabled: 0.3; // 组件禁用态的透明度